#nodemosaic-viewport {
	overflow:hidden;
	width:100%;
	height:500px;
	margin: 100px auto;
	color:#000;
	border:1px solid #BBB;
	background-color:#000;
}

#nodemosaic-viewport ._tile {
	display: none;
}
	
#nodemosaic-viewport ._content {
	margin:5px;
	width:90px;
	height:90px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	overflow: hidden;
	opacity: 0.75;
}

#nodemosaic-viewport ._content:hover { opacity: 1; }
		
#nodemosaic-viewport .message {
	display: block;
	position: absolute;
	top: 50%;
	width: 90px;
	font: 10px/15px arial, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;		
}

#nodemosaic-viewport .tile-empty ._content {
	border: 1px solid #383838;
	background: #333;
}

#nodemosaic-viewport .tile-empty a { color: #CCC; }
#nodemosaic-viewport .tile-empty a:hover { color: white; }
	
#nodemosaic-viewport .tile-pending ._content {
	border: 1px solid #282828;
	background: #222;	
}
		
#nodemosaic-viewport .tile-pending span { color: #666; }

.nodemosaic_coords {
	display: none;
}

.node-mosaic_tile-form #edit-field-tilerow,
.node-mosaic_tile-form #edit-field-tilecol {
	display: none;
}
